langchain==0.0.348
wget==3.2
gradio==3.50.2
accelerate
addict
basicsr
controlnet-aux
diffusers
einops
invisible-watermark
kornia
omegaconf
open_clip_torch
openai
streamlit
test-tube
timm
torchmetrics
webdataset
yapf
tiktoken
ftfy
bitsandbytes
triton
scipy
